<form action="/square_root/results">
  <label for="user_num">Enter a number</label>
  <input id="user_num" name="user_num" type="text" placeholder="What number do you want to get the square root of?">

  <button>Calculate square root</button>
</form>
