<form>
  <label for="apr">APR</label>
  <input type="text" id="apr" name="apr" placeholder="E.g. 5.42">

  <label for="num_of_years">Number of years</label>
  <input type="text" id="num_of_years" name="num_of_years" placeholder="How many years to repay?">

  <label for="principal">Principal</label>
  <input type="text" id="principal" name="principal" placeholder="How much principal?">

  <button>Calculate montly payment</button>
</form>
