
<form action="/square/results">
  <label for="user_input">Enter a number</label>
  <input id="user_input" type="text" placeholder="What number do you want to square?" name="user_number">

  <button>Calculate square</button>
</form>
